body {
  background-color: #051d0a;
	color: #ffffff;
	font-size: 22px;
}

a {
	color: #ffffff;
}

.wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  position: relative;
}

div {
  padding-bottom: 15px;
}


